html {
	height: 100%;
	width:100%;
}
body {
	position: relative;
    /* background-color:rgba(0,255,0,0.1) !important; */
   /*  background:url(./../images/bits_clocktower.jpg); */
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	border: 0 none;
	font-size: 100%;
	margin-top: 2px;
	padding: 0px;
	border: 0;
	outline: 0;
	vertical-align: top;
	font: normal 150%/1.6em 'Myriad pro', Tahoma, sans-serif;
	color: #000;
	width: 100%;
	height: 100%;
	
	min-width: 900px;
	margin-right: -10px;
}

@font-face
{
font-family: oswald-bold;
src: url(/static/css/fonts/Oswald-Bold.ttf);
}

@font-face
{
font-family: oswald-light;
src: url(/static/css/fonts/Oswald-Light.ttf);
}
@font-face
{
font-family: oswald-regular;
src: url(/static/css/fonts/Oswald-Regular.ttf);
}



/*==================================================================================HEAD=============================================================*/
div#home_logo
{	width:100%;							/*make container fully occupy width of browser even when resized*/
	height:110%;						/*make container take full height of browser even when resized*/
	min-height:700px;					/*give container a min height when browser resized to very small height*/
				
}

img#logo
{	width:30%;
	margin-top:20%;
	margin-left:20%;
}

div#mask
{	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:url("../images/bits_clocktower.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	opacity:1;
	z-index:-100;
}

/*==================================================================================SLIDER=======================================================*/
.bx-wrapper
{
	width:75%;
	margin-bottom:2%;
	margin-top:100px;
}
.bx-wrapper img
{	width:100%;
}

div#bx-pager
{	width:80%;
	margin:auto;
}

div#bx-pager a img
{	margin-left:0.7%;
	margin-right:0.7%;
	transition:transform ease 0.5s;
	-webkit-transition:-webkit-transform ease 0.5s;
	width:10.5%;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 3px;
	left: -5px;
	background: #fff;
}

div#bx-pager a img:hover
{	transform:scale(1.2);
	-webkit-transform: scale(1.2);
}
/*=============================================================================NAV=============================================================*/
@media screen and (max-width: 992px)
{	#list
	{	margin-top:20px;
	}
}
/*================================================================================CONTENT======================================================*/

.nav_cont_active
{	display:block !important;
}


.content1 {
	margin-top: 5%;
	padding-left: 10%;
	padding-right: 5%;
	margin-right: -15px;
    
}
.content-left {
	padding: 20px;
    margin-right:0px;
	height: auto;
	margin-left: 15px;
	border-right-style: solid;
	border-right-width: 0px;
    background-color:#fff;
	
}
.content-right {
	border-top: 3px solid;
	padding-top: 15px;
    margin-left: 2%;
	margin-right: -15px;
    background-color:#fff;
	padding-left:0px !important;
	padding-right:0px !important;
	padding-top:0px !important;
	
}
.cont-right {
	height: 54px;
	min-height:40px;
	padding:15px;
	font-family:oswald-regular;
	letter-spacing:1px;
	cursor:pointer;
	background-size: 200% 50%;
	background-image: linear-gradient(to right, rgb(255,255,255) 50%, rgb(110,110,110) 50%);
	-webkit-transition: background-position 0.3s ease, color 0.3s;
	-moz-transition: background-position 0.3s ease, color 0.3s;
	transition: background-position 0.3s ease, color 0.3s;
	
}
.content-right div:hover
{	background-position: -100% 0;
	color:rgb(240,240,240);
	-webkit-transition: background-position 0.3s, color 0.3s;
	-moz-transition: background-position 0.3s, color 0.3s;
	transition: background-position 0.3s, color 0.3s;
}
.cont-right :hover {
	border-left: 2px solid;
	
}
.nav-cont {
	padding: 5px;
	padding-top: 30px;
	height: 100%;
	display:none;
}
.drop-fix {
	height: 400%;
	overflow-y: scroll; 
}

.content-right div
{	margin:0px !important;
}

.sticky2 
{	position:fixed !important;
	top:62px;
	z-index: 1;
	border-top: 0;
	width:26.5%;
}
.clubs
{ 	cursor:pointer;
	height:100px;
}
.clubs div
{	height:100px;
	width:140px;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 3px;
	left: -5px;
	background: #fff;
	opacity:0.5;
	float:left;
	transition:opacity 0.3s;
/*	background-image:url("../images/koala(1).jpg");*/
	background-size:cover;

}

.clubs p
{	margin-left:200px;
	font-size:1.4em;
	transition:color 0.3s;
	margin-bottom:70px;
	
	
}

.clubs:hover > div
{	opacity:1;
}

.clubs:hover > p
{	color:blue;
}

.depts
{ 	cursor:pointer;
	height:100px;
}
.depts div
{	height:100px;
	width:140px;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 3px;
	left: -5px;
	background: #fff;
	opacity:0.5;
	float:left;
	transition:opacity 0.3s;
/*	background-image:url("../images/koala(1).jpg");*/
	background-size:cover;

}

.depts p
{	margin-left:200px;
	font-size:1.4em;
	transition:color 0.3s;
	margin-bottom:70px;
	
	
}

.depts:hover > div
{	opacity:1;
}

.depts:hover > p
{	color:blue;
}

.assocs
{ 	cursor:pointer;
	height:100px;
}
.assocs div
{	height:100px;
	width:140px;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 3px;
	left: -5px;
	background: #fff;
	opacity:0.5;
	float:left;
	transition:opacity 0.3s;
/*	background-image:url("../images/koala(1).jpg");*/
	background-size:cover;

}

.assocs p
{	margin-left:200px;
	font-size:1.4em;
	transition:color 0.3s;
	margin-bottom:70px;
	
	
}

.assocs:hover > div
{	opacity:1;
}

.assocs:hover > p
{	color:blue;
}
/*========================================================MASK===========================================================*/

.mask
{	width:100%;
	height:100%;
	display:none;
	background-color:rgba(0,0,0,0.7);
	transition:display 1s;
	-webkit-transition:display 1s;
	-moz-transition:display 1s;
	position:fixed;
	top:0;
	z-index:1000;
}

.mask_image
{	display:none;
	position:fixed;
	top:20%;
	z-index:2000;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 3px;
	left: -5px;
	background: #fff;
	width:60%;
	left:20%;
}
	


/*========================================================FOOTER==========================================================*/
footer
{	height:50px;
	width:100%;
	background-color:rgb(50,50,50);
	margin-top:15px;
	z-index:100;
	opacity:0.6;
}

ul#footer_list
{	float:left;
	color:rgb(150,150,150);
}

ul#footer_list li 
{	float:left;
	padding-left:30px;
	padding-top:8px;
}

ul#footer_list li a
{ 	color:inherit;
	text-decoration: none;
}

ul#footer_list li:hover
{	color:rgb(210,210,210);
}

footer p
{	float:right;
	color:rgb(150,150,150);
	padding-right:60px;
	padding-top:8px;
}
